.profile {
  display: inline-block;
  margin: 0 1rem;
  line-height: 1.1;
  vertical-align: bottom;
  overflow: hidden;
  color: #FFF;
}

.gravatar {
  height: 40px;
  margin-right: 10px;
  line-height: 40px;
  vertical-align: bottom;
}

.text {
  display: inline-block;
  margin-bottom: 3px;
}

.username {
  display: block;
}

.summa {
  font-size: .75em;
}
