style.
  .navigation {
    background: #0a0a0a;
  }

  .navigation-logo {
    padding: 0.5em 1em;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
  }

  .navigation-buttons {
    margin-bottom: 0;
    float: right;
  }

header.navigation.row.small-12.columns
  .navigation-logo Test app
  nav.button-group.navigation-buttons
    a.button(href='#') #[i.fa.fa-plus] transaction
    a.button(href='#') #[i.fa.fa-university] overview
    a.button.alert(href='#') #[i.fa.fa-sign-out] logout
