.header {
  background-color: #4E5D6C;
}

.logo {
  padding: 0.5em 1em;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
}

.right-block {
  float: right;
}

.buttons {
  display: inline-block;
  margin-bottom: 0;

  :global .active {
    color: #4E5D6C;
  }
}
