.header {
  background-color: #4E5D6C;
}

.logo {
  padding: 0.5em 1em;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
}

.buttons {
  margin-bottom: 0;
  float: right;
}
