.no-transaction {
  top: 50%;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: #FFF;
}

.link {
  color: #FFF;
  font-weight: bold;

  &:hover {
    color: inherit;
    border-bottom: 1px dashed #FFF;
  }
}
