ViewTransactions(
  title='Your all transactions'
  banks=this.props.banks
  transactions=this.props.transactions
  deleteTransaction=this.props.actions.deleteTransaction)

if !this.props.transactions.length
  div(styleName='no-transaction')
    span You do not have a transaction.
    br
    Link(to='/add-transaction' styleName='link') Would you like to add?