div(styleName='helper')
section(styleName='section').row.small-12.small-centered.columns
  form(styleName='form' onSubmit=this.signIn).row.small-12.columns
    header(styleName='header') Login form
    section(styleName='inputs')
      label(styleName='label')
        i(styleName='label-icon').fa.fa-user
        input(styleName='input' type='text' placeholder='Username')
      label(styleName='label')
        i(styleName='label-icon').fa.fa-key
        input(styleName='input' type='password' placeholder='Password')
    footer(styleName='footer')
      Callout(
        show=this.state.error
        text='Error credentials'
        close=this.closeInfo)
      button(type='submit').button.expanded Login
      p(styleName='signup-link') New to "Test App"? #[a(href='#') Create an account.]
