.section {
  max-width: 27rem;
  position: absolute;
  left: 0; right: 0; top: 50%;
  transform: translateY(-50%);
}

.form {
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  background: #FFF;
  overflow: hidden;
}

.header {
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #FFF;
  font-weight: bold;

  background-color: #3adb76;
}

.inputs,
.footer {
  margin: 1rem;
}

.signup-link {
  font-size: .75em;
  text-align: center;
}
